{% extends 'construction/base.html' %}
{% load static %}
{% block content %}


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Single Page</h2>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="">Single Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Single Post Start-->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-content wow fadeInUp">
                                <img src="/media/{{project.image}}" />
                                <h3>{{project.name}}</h3>
                                <p>
                                     {{project.description_2}}
                                </p>
                            </div>
                            <div class="single-tags wow fadeInUp">
                                {% for tag in tags %}
                                <a href="">{{tag.name}}</a>
                               {% endfor %}
                            </div>
                            <div class="single-bio wow fadeInUp">
                                <div class="single-bio-img">
                                    <img src="/media/{{project.author_image}}" />
                                </div>
                                <div class="single-bio-text">
                                    <h3>{{project.author_name}}</h3>
                                    <p>
                                       {{project.author_desc}}
                                    </p>
                                </div>
                            </div>
                            <div class="single-related wow fadeInUp">
                                <h2>Related Post</h2>
                                <div class="owl-carousel related-slider">
                                    {% for pr in projects %}
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="/media/{{pr.image}}" />
                                        </div>
                                        <div class="post-text">
                                            <a href="{% url 'single' project_id=pr.id %}">{{pr.description_1}}</a>
                                            <div class="post-meta">
                                                <p>{{pr.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="single-comment wow fadeInUp">
                                <h2>{{comment_length}} Comments</h2>
                                <ul class="comment-list">
                                    {% for com in comment_limit %}
                                    {% if  forloop.counter0 < 3 %}
                                    <li class="comment-item">
                                        <div class="comment-body">

                                            <div class="comment-text">
                                                <h3><a href="">{{com.name}}</a></h3>
                                                <span>{{com.created_at}}</span>
                                                <p>
                                                    {{com.message }}
                                                <a class="btn" href="">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="comment-form wow fadeInUp">
                                <h2>Leave a comment</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" name="name" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" name="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="url" name="website" class="form-control" id="website">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message *</label>
                                        <textarea id="message" name="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="sidebar">


                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Recent Post</h2>
                                    <div class="recent-post">
                                        {% for bl in blogs %}
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="/media/{{bl.image}}" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">{{bl.name}}</a>
                                                <div class="post-meta">

                                                    <p>{{bl.author}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static 'construction/img/blog-1.jpg' %}" alt="Image"></a>
                                    </div>
                                </div>
                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Categories</h2>
                                    <div class="category-widget">
                                        <ul>
                                            {% for tag in tags %}
                                            <li><a href="">{{tag.name}}</a><span>({{tag.number}})</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static 'construction/img/blog-2.jpg' %}" alt="Image"></a>
                                    </div>
                                </div>

                        <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Tags Cloud</h2>
                                    <div class="tag-widget">
                                        {% for tag in tags %}
                                        <a href="">{{tag.name}}</a>
                                         {% endfor %}
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static 'construction/img/blog-3.jpg' %}" alt="Image"></a>
                                    </div>
                                </div>



                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Text Widget</h2>
                                    <div class="text-widget">
                                        <p>
                                            Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea nec eros. Nunc eu enim non turpis id augue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Post End-->   



{% endblock  %}